.paragraphs-ckeditor-command {
  color: $command-color;
  text-transform: Capitalize;

  &--remove {
    color: $remove-color;
    display: none;
  }
}

.cke_widget_selected {
  .paragraphs-ckeditor-command {
    &--remove {
      display: initial;
    }
  }
}
